#header {
    text-align: center;
    color: #06de0d;
    font-family: 'Arial', sans-serif;
    padding: 20px;
  }
  
  .text-box {
    background-color: #3df909;
    margin: 10px;
    padding: 15px;
    border: 1px solid #130c0c;
    font-size: 18px;
  }
  
  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    
  }

  #footer {
    border-top: 2px solid #4CAF50;
    padding-top: 10px;
    text-align: center;
    font-size: 14px;
  }
  
  body {
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
  }
  